{% extends 'base.html.twig' %}

{% block body %}
    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Phi-Loso-Phi.de</h1>
        <p>Mal wieder in neuem Gewand!</p>
      </div>

    </div> <!-- /container -->
{% endblock %}


