{% extends 'base.html.twig' %}

{% block body %}
<div class="container theme-showcase" role="main">

    <div class="page-header">
        <h1>Konto löschen</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>
                Das Konto "{{ account.getName() }}" wirklich löschen?
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="/finance/do-delete-account/{{ account.getId() }}" class="btn btn-danger">Löschen</a>
            <a href="/finance/" class="btn btn-default">Abbrechen</a>
        </div>
    </div>
</div> <!-- /container -->
{% endblock %}
