{% extends 'base.html.twig' %}

{% block title %}
Fibis Disney Liste
{% endblock %}

{% block stylesheets %}
    <style>
      .owned h3 { color: green !important; }
      .not-owned h3 { color: red !important; }
      .thumbnail h3 { text-align: center; }
      .thumbnail img { height: 120px; }
    </style>
{% endblock %}

{% block body %}
<div class="container theme-showcase" role="main">

	<div class="page-header">
		<h1>Fibis Disney Filme:</h1>
	</div>

    <div>
      <label for="nur_fehlende" id="l_nur_fehlende">
        <input type="checkbox" id="nur_fehlende">
        nur fehlende anzeigen
      </label> 
      <label for="alle" id="l_alle">
        <input type="checkbox" id="alle">
        alle anzeigen
      </label> 
    </div>
    <div>
      <label for="nur_fehlende" id="l_nur_fehlende">
        Suchen:
        <input type="text" id="suche">
      </label>
      <input type="button" id="suchen" value="Suchen">
      <input type="button" id="reset"  value="Zuruecksetzen">
    </div>
    <div class="row" style="margin-top: 20px;">
      {% for index, film in filme %}
      {% if film['owned'] %}
        {% set class = 'owned' %}
      {% else %} 
        {% set class = 'not-owned' %}
      {% endif %}
      <div class="col-xs-6 {{ class }}">
        <div class="thumbnail">
          <img src="{{ asset(film['image']) }}" alt="{{ film['name'] }}">
          <div class="caption">
            <h3>{{ film['name'] }}</h3>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
<!--
$("#nur_fehlende").click(function(){
  $(".owned").hide();
  $("#alle").prop("checked", false);
  $("#nur_fehlende").hide();
  $("#l_nur_fehlende").hide();
  $("#alle").show();
  $("#l_alle").show();
  if ($("#suche").val()) {
    $("#suchen").click();
  }
});
$("#alle").click(function(){
  $(".owned").show();
  $("#nur_fehlende").prop("checked", false);
  $("#nur_fehlende").show();
  $("#l_nur_fehlende").show();
  $("#alle").hide();
  $("#l_alle").hide();
  if ($("#suche").val()) {
    $("#suchen").click();
  }
});
$("#alle").hide();
$("#l_alle").hide();
$("#suchen").click(function(){
  if ($("#suche").val()) {
    $(".thumbnail").parent().hide();
    $("h3:contains('"+$("#suche").val()+"')").parents('.thumbnail').parent().show();
    if (!$("#nur_fehlende").is(":visible")) {
      $(".owned").hide();
    }
  } else {
    $(".owned").show();
    $(".not-owned").show();
    if (!$("#nur_fehlende").is(":visible")) {
      $(".owned").hide();
      $("#alle").prop("checked", false);
      $("#nur_fehlende").hide();
      $("#l_nur_fehlende").hide();
      $("#alle").show();
      $("#l_alle").show();
    }
  }
  return false;
});
$("#reset").click(function(){
  $("#suche").val("");
  $("li.j").parent().parent().show();
  $("li.n").parent().parent().show();
  if (!$("#nur_fehlende").is(":visible")) {
    $("li.j").parent().parent().hide();
    $("#alle").prop("checked", false);
    $("#nur_fehlende").hide();
    $("#l_nur_fehlende").hide();
    $("#alle").show();
    $("#l_alle").show();
  }
});
-->
    </script>
{% endblock %}